<div class="container">
  <div class="carousel">
    <div class="carousel__face">
      <img src=".\assets\images\Red-Fort.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\delhi.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\rajasthan3.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\kolkata-bridges.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\varanasi.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\kerala.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\leh-ladakh.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\Manali.jpg" /><span></span>
    </div>
    <div class="carousel__face">
      <img src=".\assets\images\unnamed.jpg" /><span></span>
    </div>
  </div>
</div>


<!-- <div class="allcards ">
  <div class="row">
    <div class="card mb-3" style="width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-3" style="width: 540px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="..." class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div> -->



<router-outlet></router-outlet>
