<p>wondersinindia is working</p>
<!-- 
<div class="wrap-home-resources">

   
  
    <div class="home-resources-header">
      <h1>
        Lorem ipsum dolor.
      </h1>
      <h2>
        Lorem ipsum dolor.
      </h2>
    </div>
  
    <div class="home-resources-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="carousel-home-resources" class="carousel-home-resources">
              
                <div>
                    <img src=".\assets\images\leh-ladakh.jpg">
                </div> 
  
                <div>
                    <img src=".\assets\images\leh-ladakh.jpg">
                </div> 
  
                
                <div>
                    <img src=".\assets\images\leh-ladakh.jpg">
                </div>  
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
<router-outlet></router-outlet>