<div class="form">
   
    <form class="row g-1">
        <div class="col-md-6">
            <label for="fristname" class="form-label">Frist Name</label>
            <input type="fristname" class="form-control" id="fristname"  placeholder="Your Frist Name......">
          </div>
          <div class="col-md-6">
            <label for="lastname" class="form-label">Last Name</label>
            <input type="lastname" class="form-control" id="lastname"  placeholder="Your Last Name......">
          </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4"  placeholder="Your Email......">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword4"  placeholder="Your Password......">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Your Address DO..NO..Street......">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="You Address........">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" class="form-control" id="inputCity"  placeholder="Your City Name......">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Pin Code</label>
          <input type="text" class="form-control" id="inputZip"  placeholder="Your Pin Code......">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>



