<div>
  <img src="assets\images\lysosomal.png" />
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets\images\R.png" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Gallery</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle active"
            aria-current="page"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Type of services
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item active" aria-current="page" href="#"
                >Family Trips</a
              >
            </li>
            <li>
              <a class="dropdown-item active" aria-current="page" href="#"
                >Honey Moon Trips</a
              >
            </li>
            <li>
              <a class="dropdown-item active" aria-current="page" href="#"
                >Friends Trips</a
              >
            </li>
            <li>
              <a class="dropdown-item active" aria-current="page" href="#"
                >Honey Moon Trips</a
              >
            </li>
            <li>
              <a class="dropdown-item active" aria-current="page" href="#"
                >Old age Peoples Trips</a
              >
            </li>
            <li>
              <a class="dropdown-item active" aria-current="page" href="#"
                >Honey Moon Trips</a
              >
            </li>
            <li>
              <a class="dropdown-item active" aria-current="page" href="#"
                >School Trips</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link disabled active"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >Contact Us</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link disabled active"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            >About Me</a
          >
        </li>
      </ul>

      <div class="title">
        <h1>5S Tourism & Trips</h1>
      </div>

      <a class="gif">
        <img src="assets\images\google.png" />
        <img src="assets\images\instagram.png" />
        <img src="assets\images\facebook.png" />
      </a>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="dropbutton pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent"></div>
  <nav class="navbar navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="['/sidebar']"
      aria-controls="['/sidebar']"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="keybuttons">
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/allindiatrip']"
          routerLinkActive="router-link-active"
          >ALL INDIA TRIP</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/statewise']"
          routerLinkActive="router-link-active"
          >STATE WISE</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/zonewise']"
          routerLinkActive="router-link-active"
          >ZONE WISE</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/unionterritories']"
          routerLinkActive="router-link-active"
          >UNION TERRITORIES</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/specialplaces']"
          routerLinkActive="router-link-active"
          >SPECIAL PLACES</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/wondersinindia']"
          routerLinkActive="router-link-active"
          >7 WONDERS IN INDIA</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/historicalplaces']"
          routerLinkActive="router-link-active"
          >HISTORICAL PLACES
        </a>
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/natureplaces']"
          routerLinkActive="router-link-active"
          >NATURAL PLACES</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/enjoyingplaces']"
          routerLinkActive="router-link-active"
          >ENJOYING PLACES</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/godtemples']"
          routerLinkActive="router-link-active"
          >GOD TEMPLES</a
        >
      </li>
      <li class="keybuttons">
        <a
          class="keybuttons1"
          href=""
          [routerLink]="['/seasonalplaces']"
          routerLinkActive="router-link-active"
          >SEASONAL PLACES</a
        >
      </li>
    </nav>
  </nav>

  <!-- <nav class="keybuttons">
      <li class="keybuttons"><a href="" [routerLink]="['/allindiatrip']" routerLinkActive="router-link-active">ALL INDIA TRIP</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/statewise']" routerLinkActive="router-link-active">STATE WISE</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/zonewise']" routerLinkActive="router-link-active">ZONE WISE</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/unionterritories']" routerLinkActive="router-link-active">UNION TERRITORIES</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/specialplaces']" routerLinkActive="router-link-active">SPECIAL PLACES</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/wondersinindia']" routerLinkActive="router-link-active">7 WONDERS IN INDIA</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/historicalplaces']" routerLinkActive="router-link-active">HISTORICAL PLACES </a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/natureplaces']" routerLinkActive="router-link-active">NATURE PLACES</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/enjoyingplaces']" routerLinkActive="router-link-active">ENJOYING PLACES</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/godtemples']" routerLinkActive="router-link-active">GOD TEMPLES</a></li>
      <li class="keybuttons"><a href="" [routerLink]="['/seasonalplaces']" routerLinkActive="router-link-active">SEASONAL PLACES</a></li>
  </nav> -->
</div>

<div class="banner">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src=".\assets\images\diwali offer.png"
          class="d-block w-100"
          alt="..."
          width="100%"
          height="600px"
        />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h4 class="bannertext1">S5 Tourism & Trips</h4> -->
          <h3 class="bannertext2">
            5S Tourism & Trips Offers Was Diwali 55% In Family Trips.
          </h3>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src=".\assets\images\5.png"
          class="d-block w-100"
          alt="..."
          width="100%"
          height="600px"
        />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h4 class="bannertext1">S5 Tourism & Trips</h4> -->
          <h3 class="bannertext2">
            5S Tourism & Trips Offers was Char(4) Dham Yatra 20% .
          </h3>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src=".\assets\images\sumar.png"
          class="d-block w-100"
          alt="..."
          width="100%"
          height="600px"
        />
        <div class="carousel-caption d-none d-md-block">
          <!-- <h4 class="bannertext1">S5 Tourism & Trips</h4> -->
          <h3 class="bannertext2">
            5S Tourism & Trips Provides Pre-Booking Offers In Summer Trips 30%.
          </h3>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="containercards">
  <!-- ////card row:1////// -->

  <div class="row">
    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\delhi.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\Red-Fort.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img
        src=".\assets\images\rajasthan3.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\varanasi.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>

  <!-- ////card row:2////// -->

  <div class="row">
    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\kerala.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img
        src=".\assets\images\leh-ladakh.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\Manali.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\unnamed.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>

  <!-- ////card row:3////// -->

  <div class="row">
    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img
        src=".\assets\images\Rishikesh-23.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img
        src=".\assets\images\ellora caves.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\budham.png" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\R.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>

  <!-- ////card row:4////// -->

  <div class="row">
    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img
        src=".\assets\images\taji kR (1).jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img
        src=".\assets\images\waterfall1.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\badami.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img
        src=".\assets\images\gateway mumbai.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>

  <!-- ////card row:5////// -->

  <div class="row">
    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\R (2).jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\R (3).jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\R (4).jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\R (5).jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>

  <!-- ////card row:6////// -->

  <div class="row">
    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\61.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\62.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\63.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="col col-md-3 m-4 mx-auto card" style="width: 18rem">
      <img src=".\assets\images\64.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
