<div class="sidebar">
    <!-- Sidebar -->
    <div id="sidebar">
      <header>
        <a href="#">My  I Hepl you</a>
      </header>
      <ul class="nav sidebarlist">
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i> Register Your Profile
          </a>
        </li>
        
        <li>
          <a href="#">
            <i class="zmdi zmdi-view-dashboard"></i> Your Profile
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-link"></i> Offers
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-widgets"></i> your Trips you plen
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-calendar"></i> Events
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-info-outline"></i> Register Form For Trips
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-settings"></i> Chat Services
          </a>
        </li>
        <li>
          <a href="#">
            <i class="zmdi zmdi-comment-more"></i> Contact us
          </a>
        </li>
  
        <li>
          <a href="#">
            <i class="zmdi zmdi-comment-more"></i>Sign In / Sign Out
          </a>
        </li>
      </ul>
    </div>
<p>sidebar works!</p>





